<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.regression.Add_To_Cart_TC001"/>
      <class name="com.tests.regression.MyAccount_TC001"/>
      <class name="com.tests.regression.Modify_Address_TC001"/>
      <class name="com.tests.smoke.Login_TC001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
